<div class="col-container">
    <div class="loader-info">
        <h2>Processing</h2>
        <div class="col-container">
            <div class="">Collecting data</div>
            <div class="">Please hold on</div>
        </div>
    </div>
    <div class="loader-spinner">
        <div class="spinner"></div>
    </div>
</div>
