<div class="row">
    <div class="col-md-3" id="leftPane">
    </div>
    <div class="col-md-6" id="centerPane">
        <div id="timePane">
            <h2>Processing</h2>
            <div class="digitalClock">
                <div class="date" id="date">Collecting data</div>
                <div class="week" id="week">Please hold on</div>
            </div>
        </div>
    </div>
</div>
