body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #333;
    color: #fff;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

input {
    color: #444;
}

footer {
    position: relative;
    bottom: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 15px;
}

.clearfix:after, .clearfix:before, .container:after {
    display: table;
    content: " ";
}

.fourth {
    min-width: 25%;
}

.third {
    min-width: 33%;
    padding-right: 15px;
    padding-left: 15px;
}

.half {
    min-width: 50%;
}

.clearfix:after {
    clear: both;
}

.pane {
    background: cornflowerblue;
    border-radius: 2px;
    box-shadow: black 1px 1px 16px 4px;
    padding: 10px;
}

.item {
    padding: 0 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.pull-right {
    float: right !important;
}

.small{
    font-size: 75%; 
}
.text-muted {
    color: #888;
}

.column {
    padding-right: 15px;
    padding-left: 15px;
}

/*Time*/
.time-pane {
    background: darkslategray
}

.digital-clock {
    margin: 0 auto;
    text-shadow: 0 0 5px #00c6ff;
}

.digital-clock .clock-time {
    font-size: 4em;
}

.digital-clock .clock-separator-blink {
    position: relative;
    -moz-animation: clock-separator-blink 1s ease infinite;
    -webkit-animation: clock-separator-blink 1s ease infinite;
    animation: clock-separator-blink 1s ease infinite;
    animation-delay: 10ms;
    padding-left: 10px;
    padding-right: 10px;
}

@-webkit-keyframes clock-separator-blink {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes clock-separator-blink {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes clock-separator-blink {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
    }
}
/*//Time*/

/*Departures*/
.departures-pane {
    background: #466;
}

.departure-item{
    border: 1px #244 solid;
    border-left: 1px #688 solid;
    border-top: 1px #688 solid;
}

/*//Departures*/

/*Forecast*/
.forecast-pane {
    background: #578;
}

.forecast-item {
    border: 1px #356 solid;
    border-left: 1px #688 solid;
    border-top: 1px #688 solid;
}

/*//Forecast*/
/*Notifications*/
.notifications-pane {
    width: 300px;
    background: #f75 ;
    padding: 15px;
}

.notification-item {
    border: 1px #a53 solid;
    border-left: 1px #f86 solid;
    border-top: 1px #f86 solid;
}
/*//Notifications*/
.hide {
    display: none;
}
/*Header*/
.pane .header .heading {
    display: inline;
}
.pane .header {
    margin-bottom: 10px;
}
/*//Header*/