body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #333;
    color: #fff;

}

footer {
    position: absolute;
    bottom: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
/*Clock*/
.digitalClock {
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    margin: 0 auto;
    color: #fff;
    text-shadow: 0 0 5px #00c6ff;
}

.digitalClock .date {
    font-size: 1em;
}

.digitalClock .time {
    font-size: 4em;
}

.digitalClock .blink {
    position: relative;
    -moz-animation: blink 1s ease infinite;
    -webkit-animation: blink 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    100% {
        opacity: 0;
        text-shadow: none;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    100% {
        opacity: 0;
        text-shadow: none;
    }
}
/*//Clock*/
/*Departures*/
.departuresContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*//Departures*/
/*Forecast*/
.forecastItem {
    border: 1px white solid;
    margin: 1px 0;
}

/*//Forecast*/

.hide {
    display: none;
}