body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #333;
    color: #fff;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}
input {
    color: #444;
}
footer {
    position: relative;
    bottom: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.pane {
    background: cornflowerblue;
    border-radius: 2px;
    box-shadow: black 1px 1px 16px 4px;
    padding: 10px;
}


/*Time*/
.time-pane {
    background: darkslategray
}

.digital-clock {
    margin: 0 auto;
    text-shadow: 0 0 5px #00c6ff;
}

.digital-clock .clock-time {
    font-size: 4em;
}

.digital-clock .clock-separator-blink {
    position: relative;
    -moz-animation: clock-separator-blink 1s ease infinite;
    -webkit-animation: clock-separator-blink 1s ease infinite;
    animation: clock-separator-blink 1s ease infinite;
    animation-delay: 10ms;
    padding-left: 10px;
    padding-right: 10px;
}

@-webkit-keyframes clock-separator-blink {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes clock-separator-blink {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes clock-separator-blink {
    0% {
        opacity: 1.0;
    }

    100% {
        opacity: 0;
    }
}
/*//Time*/

/*Departures*/
.departures-pane {
    background: #466;
}

.departure-item{
    border: 1px #246 solid;
    border-left: 1px #678 solid;
    border-top: 1px #678 solid;
}

.departure-item.row {
    margin: 0;
}
/*//Departures*/

/*Forecast*/
.forecast-pane {
    background: #578;
}

.forecast-item {
    border: 1px #358 solid;
    border-left: 1px #688 solid;
    border-top: 1px #688 solid;
}

.pull-right.wi {
    width: 1.7em;
}
/*//Forecast*/

.hide {
    display: none;
}